node_modules
src/generated
.git
*.log
.vscode
.scannerwork
*.md
*.tsbuildinfo

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun
/src/generated/prisma


.env.development.local
.env.test.local
.github
.github/workflows
