node_modules
src/generated
.git
*.log
.vscode
.scannerwork
*.md
*.tsbuildinfo

**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.log
**/*.bun
/src/generated/prisma

.github
.github/workflows
README.md
sonar-project.properties
Nginx.conf

.env
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local


